<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .ecart {
            margin: 20px;
        }

        .type {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container ecart">
        <div class="type">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="etudiant">Étudiant :</label>
                    <select class="form-control" name="etudiant" id="etudiant">
                        {% for etudiant in etudiants %}
                        <option value="{{ etudiant.CodeEtudiant }}">
                            {{ etudiant.NomEtudiant }} {{ etudiant.PrenomEtudiant }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Afficher</button>
            </form>
        </div>

        {% if selected_etudiant %}
        <div class="result">
            <p>
                L'écart type des notes de {{ selected_etudiant.NomEtudiant }}
                {{selected_etudiant.PrenomEtudiant }} est :
            </p>
            <span id="ecart-type">{{selected_etudiant.ecart_type}}</span>
        </div>
        {% endif %}
        <button class="btn btn-primary"><a href="{% url 'acceuil' %}">Retourner</a></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Ajoutez ici votre code JavaScript personnalisé si nécessaire
    </script>
</body>
</html>